/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@1&display=swap');
/* Fin fonts*/

/* Estilos generales*/

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 60px;
}

h2 {
    font-family: cursive;
    font-size: 40px;
}

h3 {
    font-family: cursive;
    font-size: 30px;
    padding-bottom: 30px;
}

.subtitulossignos {
    display: flex;
    justify-content: center;
    color: antiquewhite;
    font-size: 25px;
}

p {
    font-family: 'Instrument Serif', serif;
}

/* Fin estilos generales*/

/* Estilos index.html*/
.headerindex {
    background-color: #1c1c1c;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    padding: 30px 50px;
    border: 5px solid #848484;
    border-top: 20px solid #848484 ;
}

.sectionindexh2 {
    text-align: center;
    background-color: #1c1c1c;
    color: antiquewhite;
    font-size: 20px;
    border: 5px solid #9c9a9a;
    border-top: 10px solid #848484;
}


.video {
    display: inline-block;
    margin-bottom: 20px;
    width: 50%;
    height: 240px;
}

.textbox {
    margin: 30px auto;
    padding: 2px;
    background-color: #24252579;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 95%;
    margin-bottom: 40px;
}

.text1 {
    font-size: 16px;
    align-items: center;
    line-height: 1.6;
    color: #ffffff;
    margin: 0px;
}

iframe {
    border: none;
    width: 50%;
    height: 100%;
}

.sectionindex {
    background-color: #1c1c1c;
    color: antiquewhite;
    font-size: 20px;
    border: 5px solid #848484;
    border-top: 10px solid #848484;
}


img {
    width: 15%;
    height: 30%;
}

footer {
    background-color: #848484;
    color: antiquewhite;
    border: 5px solid #848484;
    border-top: #848484;
}

.carousel {
    margin-left: 35%;
    padding-bottom: 50px;
    
}

.d-block {
    width: 240px;
    height: 240px;
}

/*Fin estilos index*/

/*Estilos fuego*/

/* .headerfuego {
    background-color: #f34336;
    border: 5px solid #eb8f88;
    border-top: 10px solid #eb8f88;
    padding-top: 0px;
    padding-bottom: 25px;
    
}

.h1fuego {
    font-size: 40px;
    
}

.sectionfuego {
    background-color: #f34336;
    color: antiquewhite;
    border: 5px solid #eb8f88;
    border-top: 10px solid #eb8f88;    
}

.fleximgs {
    display: flex;
    justify-content: space-around;
} */

/* .imgaries {
    margin-right: 25%;
}

.imgleo {
    margin-right: 25%;
}

.imgsagitario {
    margin-left: 4%;
} */
/* Fin estilos fuego*/

/* Estilos agua*/

/* .headeragua {

    background-color: #9e9ef4;
    border: 5px solid #1d334a;
    border-top: 10PX SOLID #1d334a;
    padding-top: 0px;
    padding-bottom: 25px;
}

.h1agua {
    color: antiquewhite;
    font-size: 40px;

}

.sectionagua{
    background-color: #9e9ef4;
    color: antiquewhite;
    border: 5px solid #1d334a;
    border-top: 10px solid #1d334a;
} */

/* .imgcancer {
    margin-right: 25%;
}

.imgescorpio {
    margin-right: 25%;
}

.imgpiscis {
    margin-left: 4%;
} */
/* Fin estilos agua*/

/* Estilos tierra*/

/* .headertierra{

    background-color: #a65e2e;
    border: 5px solid #7b4d2e;
    border-top: 10px solid #7b4d2e;
    padding-top: 0px;
    padding-bottom: 25px;
}
.h1tierra {
    font-size: 40px;
}

.sectiontierra {
    background-color: #a65e2e;
    color: antiquewhite;
    border: 5px solid #7b4d2e;
    border-top: 10px solid #7b4d2e;
} */

/* .imgtauro {
    margin-right: 25%;
}

.imgvirgo {
    margin-right: 25%;
}

.imgcapricornio {
    margin-left: 4%;
} */
/* Fin estilos tierra*/

/* Estilos aire*/

/* .headeraire {

    background-color: #e0defc;
    border: 5px solid #b7b5cd;
    border-top: 10px solid #b7b5cd;
    padding-top: 0px;
    padding-bottom: 25px;
}

.h1aire {
    font-size: 40px;
}

.sectionaire {
    background-color: #e0defc;
    border: 5px solid #b7b5cd;
    border-top: 10px solid #b7b5cd;
} */

/* .imggeminis {
    margin-right: 25%;
}

.imglibra {
    margin-right: 25%;
}

.imgacuario {
    margin-left: 4%;
} */
/* Fin estilos aire*/

