@import '../base/mixin';

footer {
    display: flex;
    background-color: #848484;
    @include mix(5px solid #848484, antiquewhite);

    p {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin: 6px;
    }

}
