%headers {
    border: 5px solid black;
    border-top: 10PX solid black;
    padding-top: 0px;
    padding-bottom: 25px;
}

%h1pages {
    display: flex;
    justify-content: center;
    font-family: cursive;
}